@using Msg.Utils
@model IQueryable<Msg.Entities.GoodsEntity>
@{
    ViewBag.Title = "小美奶客";
}
<a href="javascript:;" name="tab" id="tab"></a>
<div class="nk_list">
    <div class="ls_list_li">
        <!--<a href="javascript:;" class="nk_qh_l"><img src="images/left.png" /></a>
        <a href="javascript:;" class="nk_qh_r"><img src="images/right.png" /></a>-->
        <ul class="clearfix" style="width: 960px; margin: auto;">
            <li class="@ViewBag.MnOver">
                <a href="@Url.Action("Milk", "Home", new { brand = "mengniu" })#tab">
                    <div class="li1 li1_2 @ViewBag.MnOver"></div>
                </a>
            </li>
            <li class="@ViewBag.YiliOver">
                <a href="@Url.Action("Milk", "Home", new {brand = "yili"})#tab">
                    <div class="li1 li1_1 @ViewBag.YiliOver"></div>
                </a>
            </li>

            <li class="@ViewBag.TyOver">
                <a href="@Url.Action("Milk", "Home", new {brand = "tianyou"})#tab">
                    <div class="li1 li1_3 @ViewBag.TyOver"></div>
                </a>
            </li>
            <li class="@ViewBag.DreamOver">
                <a href="@Url.Action("Milk", "Home", new {brand = "dream"})#tab">
                    <div class="li1 li1_4 @ViewBag.DreamOver"></div>
                </a>
            </li>
            @*<li class="@ViewBag.SmashOver">
                <a href="@Url.Action("Milk", "Home", new { brand = "smash" })#tab">
                    <div class="li1 li1_5 @ViewBag.SmashOver"></div>
                </a>
            </li>*@
        </ul>
    </div>
    <div class="list_main" style="display: block;">
        <ul class="clearfix">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                <li>
                    <div class="li_img">
                        <a href="@Url.Action("Details", "Home", new { id = item.Id })">
                            <img class="lazy" data-original="@ImagesHelper.GetImgWidthHeight(item.Product.MainLogo, 220, 220, false)" width="220" height="220" /></a>
                    </div>
                    <div class="li1">￥@item.SellPrice.ToString("F")</div>
                    <div class="li2">
                        <a href="@Url.Action("Details", "Home", new { id = item.Id })">@item.ShortTitle</a>
                    </div>
                    <div class="li3 clearfix">
                        <div class="li3_l">
                            @if ((item.Product.Quantity - item.SoldCount) > 2)
                            {
                                <span> 已售出 @(item.SoldCount + item.FakeSoldCount)</span>
                            }
                            else
                            {
                                <span> 库存不足</span>
                            }

                        </div>
                        <div class="li3_r">
                            @if (item.IsOnSelling && item.Product.Quantity >= item.SoldCount)
                            {
                                <a href="javascript:;" img="@ImagesHelper.GetImgWidthHeight(item.Product.MainLogo, 220, 220, false)" class="btnCart" onclick="updateCart(@item.Id, 1, 'add', null, this);return false; ">加入购物车</a>
                            }
                            else
                            {
                                <a href="JavaScript:;" class="over" disabled="disabled">加入购物车</a>
                            }
                        </div>

                    </div>

                </li>
                }
            }

@*<script type="text/javascript">
                    var html = '<li>' +
                                '<div class="li_img"><a href=""><img src="@Url.Content("~/Content/Imagesgg/gg3.png")" width="220" height="220" /></a></div>' +
                                '<div class="li1">￥198.00</div>' +
                                '<div class="li2"><a href="">铜欣祥 水晶招财树摆件黄水晶</a></div>' +
                                '<div class="li3 clearfix">' +
                                    '<div class="li3_l">已售出 3872</div>' +
                                    '<div class="li3_r"><a href="">加入购物车</a></div>' +
                                '</div>' +
                            '</li>';
                    for (var i = 1; i <= 29; i++) {
                        document.write(html);
                    }
                </script>*@

        </ul>
    </div>
    @*<div class="list_main">2</div>
        <div class="list_main">3</div>
        <div class="list_main">4</div>
        <div class="list_main">5</div>*@
    <div class="msg_f" style="padding: 20px 0;">@Html.Raw(ViewBag.Pager)</div>
</div>
