@using Msg.Utils
@model System.Linq.IQueryable<Msg.Entities.GoodsEntity>

@{
    ViewBag.Title = "小美票务";
}

<div class="sh_list">
    <div class="sh_hea clearfix">
        <div class="sh_hea_l">小美票务&nbsp;&nbsp;<span>学子票务中心最快捷最放心</span></div>
    </div>
    <div class="pw_mian">
        <ul class="clearfix">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    var sellingStatte = "销售中";
                    if (!item.IsOnSelling)
                    {
                        sellingStatte = "已下架";
                    }
                    if (item.Product.Quantity <= item.SoldCount)
                    {
                        sellingStatte = "已售完";
                    }

                    <li class=" clearfix">
                        <div class="li1">
                            <a href="@Url.Action("Details", "Home", new {id = item.Id})" target="_blank">
                                <img class="lazy" width="160" height="200" data-original="@Msg.Utils.ImagesHelper.GetImgWidthHeight(item.Product.MainLogo, 160, 200, false)" />
                            </a>
                        </div>
                        <div class="li2">
                            <div class="title">
                                <a href="@Url.Action("Details", "Home", new {id = item.Id})" target="_blank">@item.ShortTitle</a>
                            </div>
                            <div class="wor">
                                时间：@(item.Product.UsingDate.HasValue ? item.Product.UsingDate.Value.ToShortDateString() : "")<br />
                                场馆：@item.Product.Venue<br />
                                状态：@(sellingStatte)<br />
                                价格：@item.SellPrice 元起
                            </div>
                            <div class="button">
                                <a href="@Url.Action("Details", "Home", new {id = item.Id})" target="_blank">去看看</a>
                            </div>
                        </div>
                    </li>
                }

            }


        </ul>
    </div>
    <div class="msg_f" style="padding: 20px 0;">@Html.Raw(ViewBag.Pager)</div>
</div>
