@model IQueryable<Msg.Entities.UserAddressEntity>
@{
    ViewBag.Title = "选择收货地址";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}
@section Head
{
    <link href="@Url.Content("~/Content/bootstrapdialog/dist/css/bootstrap-dialog.min.css")" rel="stylesheet" />
    <style>
        body {
            padding-bottom: 60px;
        }
    </style>
}
@section Scripts
{
    <script src="@Url.Content("~/Content/bootstrapdialog/dist/js/bootstrap-dialog.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Common.js")"></script>
    <script src="@Url.Content("/Areas/Mobile/Scripts/MobileAddress.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnAddressOk").click(function () {
                var addressId = $.trim($("#addressId").val());
                var couponId = $.trim($("#couponId").val());
                var parameter = $.trim($("#p").val());
                window.location.href = "/Mobile/home/CheckOut?p=" + encodeURIComponent(parameter) + "&id=" + couponId + "&addressId=" + addressId;
            });
        })
    </script>
}
<input type="hidden" id="p" value="@ViewBag.p"/>
<input type="hidden" id="couponId" value="@ViewBag.couponId"/>
<input type="hidden" id="addressId" value="0" />
<div class="msg_zffs"><a href="@Url.Action("EditAddress", "Me", new { p = ViewBag.p })">添加收货地址></a></div>
<div id="allAddress">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
        <div class='msg_zf @(item.IsDefult ? "msg_dz" : "")' onclick="MobileAddress.ClickAddress(this,@item.Id);">
            <div class="clearfix">
                <div class="zf_1">收货人：@item.ReciverName</div>
                <div class="zf_2">@item.ReciverTel</div>
            </div>
            <div class="zf_3">@(item.CityName)&nbsp;&nbsp;@(item.RegionName)&nbsp;&nbsp;@(item.SchoolName)&nbsp;&nbsp;@(item.DetailAddress)</div>
            <div class="zf_4 clearfix">
                <div class="msg_left">
                    @if (!item.IsDefult)
                    {
                        <a href="JavaScript:;" onclick="MobileAddress.setDefault(@item.Id);return false;">设为默认地址</a> <span>&nbsp; &nbsp;</span>
                    }
                </div>
                <div class="cl_ff3300 msg_right"><a href="@Url.Action("EditAddress", "Me", new { id = item.Id, p = ViewBag.p,couponId=ViewBag.couponId })">编辑</a>&nbsp;&nbsp;<a href="JavaScript:;" onclick="MobileAddress.deleteAddress(@item.Id);return false;" style="color: #ff3300;">删除</a></div>
            </div>
        </div>
        }
    }
</div>

<div class="msg_gwc clearfix">
    <div class="msg_g_r1">
        <a href="javascript:;" id="btnAddressOk">确认收货地址</a>
    </div>
</div>
